.header, .body {
    margin: 0xp;
    padding: 0;
}
.descuentos{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: #D1891C;
    margin: 0px;
    padding: 0px;
    font-size: 48px;
    color:#333333; 
}

.nombre{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: white;
    font-size: 72px;
    background-color: font-family: 'Roboto', sans-serif;
    font-weight:400;
    background-color: #00669F;
    margin: 0px;
    padding: 20px;  
}

.menu{
    font-family: 'Roboto', sans-serif;
    display: flex;
    background-color: black;
    list-style: none;
    margin: auto;
    justify-content: flex-end;
    text-decoration: none;
}

.menu li{
    color: white;
    margin-left: 20px;
    margin-right: 20px;
}

.contenedorflex{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 12px;
}

.contenedor1{
    display: flex;
    flex-direction: column;
    width: 805px;
    height: auto;
    background-color:rgb(220, 220, 220);
    margin:12px;
    border-top-left-radius : 10%;
    border-top-right-radius : 10%;  
}

.contenedor2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenedor3{
    position: relative;
    z-index: 20;
}

.fondo{
    border-top-left-radius : 10%;
    border-top-right-radius : 10%;
    z-index: 1;
    display: flex;  
}

.foto {
    display: flex;
    border-radius: 50%;
    z-index:5;
    justify-content: center;
    position: relative;
    width: 300px;
    height: 300px;
    margin-left: 250px;
    margin-top: -150px;
}

.texto{
    /* width: 805px;;
    height: 600px; */
    z-index: 2;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    color: #333333;
    padding: 5%; 
}

.titulo{
    font-family: 'Roboto', sans-serif;
    font-size: 64px;
    color: #333333;
    font-weight: 400;
    text-align: center;
}

.fas {
    color: red;
    position: absolute;
    font-size: 80px;
    margin-left: 40px;
    margin-top: 40px;
    z-index: 40; 
}

.vermas{
    background-color: #00669F;
    cursor: pointer;
    width: 346px;
    height: 114px;
    margin: auto;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    border-radius: 20%; 
}

/* CSS DE PAGINA LOGIN */

h1 {
    margin-top: 80px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 22px;
    text-align: center;

}

.contenedorflexlogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.labelinfo{
    display: flex;
    flex-direction: column;
}

.explicacion{
    text-align: center;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.labelinfo input{
    width: 620px;
    height: auto;
    margin: 12px;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.labelinfo{
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.boton{
    background-color: #1CD1B0;
    border-bottom: #1CD1B0;
    border-radius: 25px;
    border: none;
}


